@use './variables' as *;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition-all {
  transition: all $transition;
}

@mixin btn-base {
  padding: 10px 16px;
  border: none;
  border-radius: $radius;
  font-family: inherit;
  cursor: pointer;
  @include transition-all;
}
